<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:replace="base :: Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>It helps you to store and manage your contact in a very efficient and smart way which will ease your complexity</p>
            <button class="btn bg-color btn lg">Get Start</button>
        </div>
    </section>
</body>
</html>