<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:replace="base_user :: Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is User page</title>
</head>

<body>
    <section>
        <div class="container mt-2">
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center"
                role="alert">
                <p th:text="${session.message.content}"></p>
                <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="mycard mt-2">
                        <h1 class="text-center">Change Password</h1>
                        <hr>
                        <!-- edit form column -->

                        <form class="form-horizontal" role="form" th:object="${user}" method="POST"
                            enctype="multipart/form-data" th:action="@{/user/process_updatepassword}">

                            <div class="form-group">
                                <label class="">Current Password:</label>
                                <div class="">
                                    <input class="form-control" name="oldPassword" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">New Password:</label>
                                <div class="">
                                    <input class="form-control" name="newPassword" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="">Confirm password:</label>
                                <div class="">
                                    <input class="form-control" name="confirmPassword" type="password">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <label class=""></label>
                                <div class="">
                                    <button class="btn bg-color">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>